@font-face {
  font-family: "Nero";
  src: url("https://roketpik.com/assets/webfonts/Nero.eot?#iefix") format("embedded-opentype"),
    url("https://roketpik.com/assets/webfonts/Nero.woff") format("woff"),
    url("https://roketpik.com/assets/webfonts/Nero.ttf") format("truetype"),
    url("https://roketpik.com/assets/webfonts/Nero.svg#Nero") format("svg");
  font-weight: normal;
  font-style: normal;
}

.site.name {
  font-family: "Nero";
  font-size: 16pt;
}